body {
    display: flex;
    flex-direction: row;

    width: 99vw;
    height: 98vh;

    background-color: black;

}
#sidebar {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 10%;

    background-color: maroon;
}

#content {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    width: 90%;

    overflow-x: scroll;

    background-color: goldenrod;
    padding: 2%;
}

#content > .project {
    display: flex;
    flex-direction: column;

    flex: auto;

    max-width: 20%;
    min-width: 400px;

    background-color: antiquewhite;
    margin: 1%;
    padding: 1%;
}

#content > .project > .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*flex: auto;*/
    max-height: fit-content;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
/*#content > .project > .task > button {*/
/*    flex-grow: 0;*/
/*}*/
/*#content > .project > .task > button:first-child {*/
/*    grid-area: a;*/
/*}*/
/*#content > .project > .task > button:last-child {*/
/*    grid-area: c;*/
/*}*/
#content > .project > .task > .miniContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .task > .miniContainer > span {
    flex: auto;
}

#content > .project > .task.expanded {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /*flex-grow: 1;*/
    max-height: fit-content;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#content > .project > .task.expanded > .maxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
#content > .project > .task.expanded > .maxContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}