body {
    display: flex;
    flex-direction: row;

    width: 99vw;
    height: 98vh;

    background-color: black;

}
#sidebar {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 10%;

    background-color: maroon;
}

#content {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    width: 90%;

    overflow-x: scroll;

    background-color: goldenrod;
    padding: 2%;
}

#content .project {
    display: flex;
    flex-direction: column;

    flex: auto;

    max-width: 20%;
    min-width: 400px;

    background-color: antiquewhite;
    margin: 1%;
    padding: 1%;
}

#content .project > .task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: auto;
    max-height: 10%;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#content .project > .task.expanded {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-grow: 3;
    max-height: 20%;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}