body {
    display: flex;
    flex-direction: row;

    width: 99vw;
    height: 98vh;

    background-color: black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    box-sizing: border-box;
    width: 10%;

    background-color: maroon;
    color: white;
    padding: 1%;
}

#sidebar > .projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#sidebar > .projectsContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;

    box-sizing: border-box;
    max-width: 100%;
}

#sidebar > .projectsContainer > div > label {

    overflow: hidden;
}

#sidebar > .createProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    flex: auto;

    box-sizing: border-box;
    max-width: 100%;
}

#sidebar > .createProjectContainer > span {
    font-size: x-large;
    font-weight: bold;

    margin-bottom: 2%
}

#sidebar > .createProjectContainer > button {
    align-self: stretch;
}

#sidebar > .createProjectContainer > div > input {
    max-width: 95%;
}

#sidebar > .createUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    box-sizing: border-box;
    max-width: 100%;
}

#sidebar > .createUserContainer > span {
    font-size: x-large;
    font-weight: bold;

    margin-bottom: 2%
}

#sidebar > .createUserContainer > button {
    align-self: stretch;
}

#sidebar > .createUserContainer > div > input {
    max-width: 95%;
}

#content {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    width: 90%;

    overflow-x: scroll;

    background-color: goldenrod;
    padding: 2%;
}

#content > .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: auto;

    max-width: 20%;
    min-width: 400px;

    background-color: antiquewhite;
    margin: 1%;
    padding: 1%;
}
#content > .project > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: xx-large;
    font-weight: bold;
}

#content > .project > .header > button {
    align-self: flex-start;
}

#content > .project > .tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: scroll;

    flex: auto;
}

#content > .project > .tasksContainer > .task {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/

    /*flex: auto;*/
    max-height: fit-content;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#content > .project > .tasksContainer > .task > .miniContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator {
    align-self: center;

    flex-grow: 0;

    width: 4%;
    height: 60%;

    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 100%;

    box-sizing: border-box;

    margin-left: 1%;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.p0 {
    background-color: darkred;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.p1 {
    background-color: red;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.p2 {
    background-color: orange;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.p3 {
    background-color: yellow;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.p4 {
    background-color: yellowgreen;
}

#content > .project > .tasksContainer > .task > .miniContainer > .priorityIndicator.completed {
    background-color: darkgreen;
}

#content > .project > .tasksContainer > .task > .miniContainer > .titleContainer {
    justify-self: stretch;
    align-self: stretch;
    flex-grow: 1;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    text-align: center;
}

#content > .project > .tasksContainer > .task.expanded {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /*flex-grow: 1;*/
    max-height: fit-content;

    background-color: white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

#content > .project > .tasksContainer > .task.expanded > .maxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .tasksContainer > .task.expanded > .maxContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .tasksContainer > .task.expanded > .maxContainer > div > button {
    align-self: flex-start;
}

#content > .project > .createTaskContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .createTaskContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#content > .project > .createTaskContainer > div > input.error {
    border: 1px solid red;
}

#content > .project > .createTaskContainer > div > button {
    align-self: stretch;
}